@import example._
@import helper._

@(ctx: workflow.WorkflowContext[Step1Result], stepForm: Form[Step1Result])(implicit messages: Messages)

<html>
<body>

@stepForm.globalError.map { error => @Html(Messages(error.message)) }
<form role="form" method="post" action="@ctx.actionCurrent">
  @inputText(stepForm("name"))
  <button type="submit">Next</button>
</form>

<button id="ws" onclick="javascript:testWs();">Test websocket</button><div id="wsresult"/>

<script type="text/javascript">
  function testWs() {
    document.getElementById("wsresult").innerHTML = "";
    var url = ((document.location.protocol == "https:") ? "wss:" : "ws:") + document.location.host + document.location.pathname + "/ws";
    var socket = new WebSocket(url);
    socket.onmessage = function (event) {
      document.getElementById("wsresult").innerHTML = "WS responded:" + event.data;
    }
    socket.onopen = function (event) {
      socket.send("Input");
    }
  }
</script>

</body>
</head>
